@{
	Layout = "_ProfileLayout";
	ViewData["Title"] = "Личный кабинет - новое объявление";
}

<div id="vue-app-container">

</div>

@section Scripts
{
	<script src="~/bundle/newOfferPage.bundle.js"></script>
}