@model OfferDto

@{
	Layout = "_ProfileLayout";
	ViewData["Title"] = "Личный кабинет - добавление статуса к объявлению";
}

<h2 class="h2">Добавление статуса к объявлению: <span class="text-muted">@Model.Title</span></h2>

