@{
	Layout = "_ProfileLayout";
	ViewData["Title"] = "Личный кабинет";
}

<h2 class="h2">Мои объявления</h2>
<div id="vue-app-container">

</div>

@section Scripts
{
	<script src="~/bundle/clearPage.bundle.js"></script>
}