@model Guid

@{
	Layout = "_ProfileLayout";
	ViewData["Title"] = "Личный кабинет - мои сообщения";
}

<h2 class="h2">Сообщения</h2>

<div id="vue-app-container">

</div>

@section Scripts
{
	<script>
		window.pageOptions = {
			currentCustomerId: "@Model"
		}
	</script>
	<script src="~/bundle/messagesPage.bundle.js"></script>
}