@{
	Layout = "_ProfileLayout";
	ViewData["Title"] = "Личный кабинет - мои сообщения";
}

<h2 class="h2">Сообщения</h2>

<div id="vue-app-container">

</div>

@section Scripts
{
	<script src="~/bundle/clearPage.bundle.js"></script>
}