@{
	ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Здесь длинный текст мелким шрифтом с политикой конфиденциальности.</p>
<div id="vue-app-container"></div>

@section Scripts
{
	<script src="~/bundle/clearPage.bundle.js"></script>
}