@{
	Layout = "_Layout";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<ul class="list-group list-group-flush pr-4">
				<li class="list-group-item"><a asp-controller="Profile" asp-action="Index">Мои объявления</a></li>
				<li class="list-group-item"><a asp-controller="Profile" asp-action="AddOffer">Добавить объявление</a></li>
				<li class="list-group-item"><a asp-controller="Profile" asp-action="SendMessage">Написать сообщение</a></li>
			</ul>
		</div>
		<div class="col-sm-8">
			@RenderBody()
		</div>
	</div>
</div>

@section Scripts
{
	@await RenderSectionAsync("Scripts", required: false)
}